 <div class="container">
<%= form_with(model: apartment) do |form| %>
  <% if apartment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
        <% apartment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number, "Numero", style: "display: block" %>
    <%= form.number_field :number %>
  </div>

<div class="form-group mt-3 mb-3 ">
<%= form.label :images, "Imagenes" %>
<%= form.file_field :images, multiple: true, class:"form-controller" %>
</div>

<div>
    <%= form.label :building_id, "Edificio", style: "display: block" %>
    <%= form.collection_select :building_id, @buildings, :id, :name %>
  </div>

<div class="field mt-3 mb-3">
<%= form.label :status, "Estado" %>
<%= form.select :status, Apartment.statuses.keys %>
</div>


  <div>
    <%= form.submit "Crear Departamento" %>
  </div>
<% end %>
</div>